# Django
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_SETTINGS_MODULE=config.settings.dev

# PostgreSQL
DB_NAME=procurement_anomaly
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432

# NOCOPO / OCP Data Registry
OCP_DATA_REGISTRY_URL=https://data.open-contracting.org/en/publication/64
NOCOPO_CSV_URL=https://data.open-contracting.org/en/publication/64/download?name=full.csv.tar.gz
